.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .rating-section {
    /* display: flex; */
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
  }
  
  .rating-group{
    
        display: flex;
        flex-direction: row;
       
  }
  