.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.section{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
 .div1{
   display: flex;
   flex-wrap: wrap;
   width: 550px;
   height: 550px;
   margin-top: 130px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   opacity: 1;
 }
 
 
 .signIn{
   display: flex;
   flex-direction: column;
   text-align: center;
 }
 
 .form-group{
   display: flex;
   flex-direction: column;
   margin-left: 5px;
 }
 
 .heading{
   color:#080000;
   text-decoration: none;  
   text-shadow: 0px 0px 8px #1a0101;
   margin-top: 10px;
   opacity: 2; 
 }
 
 
 .login__field {
   padding: 20px 0px;  
   position: relative;  
   color: #02020c;
 }
 
 .login__icon {
   position: absolute;
   top: 30px;
   color: #7875B5;
 }
 
 .login__input {
   border: none;
   border-bottom: 2px solid #111111;
   background: none;
   padding: 10px;
   padding-left: 24px;
   font-weight: 700;
   width: 75%;
   transition: .2s;
   color: black;
 }
 
 .login__input:active,
 .login__input:focus,
 .login__input:hover {
   outline: none;
   border-bottom-color: #02010a;
 }
 
 .login__submit {
   background: #fff;
   font-size: 10px;
   margin-top: 30px;
   padding: 16px 20px;
   border-radius: 26px;
   border: 1px solid #111019;
   text-transform: uppercase;
   font-weight: 700;
   display: flex;
   align-items: center;
   width: 100%;
   color: #02020c;
   box-shadow: 0px 2px 2px #5C5696;
   cursor: pointer;
   transition: .2s;
 }
 
 .login__submit:active,
 .login__submit:focus,
 .login__submit:hover {
   border-color: #050510;
   outline: none;
 }
 
 .button__icon {
   font-size: 24px;
   margin-left: auto;
   color: #7875B5;
 }
 
 .social-login {  
   position: absolute;
   height: 80px;
   width: 160px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-right: 0px;
   bottom: 0px;
   right: 0px;
   color: #c12020;
 }
 
 .social-login__icon {
   padding: 20px 10px;
   color: #c01111;
   text-decoration: none;
   text-shadow: 0px 0px 8px #7875B5;
 }
 
 .social-login__icon:hover {
   transform: scale(1.5);  
 }
 
 .forgot-text{
   font-size: 12px;
   color: #121212;
   text-align: right;
 }
 
 .background-image{
   background-image: url("../assets/images/homebg.png");
   background-size: cover;
   background-size: 100%;
   flex-wrap: wrap;
   width: 100%;
   height: 100%;

   background-repeat: no-repeat;
   background-color: #cccccc;
   opacity: 0.7;
   display: flex;
   align-items: center;
   justify-content: center;
  
 }

 .full-screen {
  height: 100vh;
  width: 100vw;
 }

 @media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #a1c4fd;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
  }
  
  .bg-indigo {
  background-color: #aacfff;
  }
  @media (min-width: 992px) {
  .card-registration-2 .bg-indigo {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  }
  }
  @media (max-width: 991px) {
  .card-registration-2 .bg-indigo {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  }
  }

  .HomeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 400px;
    margin-top: 130px;  
  }
  
  .Homesearch{
    padding: 20px 0px;  
    position: relative;  
    color: #02020c;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  Homesearch-icon{
    position: absolute;
    top: 30px;
    color: #7875B5;
  
  }
  