.boxes-container {
    display: flex;
    justify-content: space-between;
    background-color: #f1c40f; /* change to your desired background color */
    padding: 20px;
    border-radius: 10px;
  }
  
  .box {
    width: 30%;
    background-color: #3498db; /* change to your desired background color */
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem; /* adjust to your desired font size */
  }
  